@using Microsoft.AspNet.Identity
<style>
    .upper{
        background-color:#313e59;
    }
        .upper:hover {
            background-color: #313e59;
        }
    .navbar-right {
        background-color: #313e59;
        margin-right: 5px;
        border-radius: 10%;
       
    }
    .log {
        border-radius: 10%;
        
        
    }

    
</style>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right"}))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        
        <li>
            @Html.ActionLink("Greetings " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" , @class= "upper" })
        </li> 
        <li class="log" style="background-color: #313e59"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li> 
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
