@{
    ViewBag.Title = "About";
}
<style>
    .about {
        color: snow;
        font-family: 'Comic Sans MS';
        font-weight: bold;
        text-align: center;
    }
    .about2 {
        color: snow;
        font-family: 'Comic Sans MS';
    }
</style>
<h1 class="about">About</h1>
<h3 class="about2">
    This MVC was inspired by my previous background in scouting and geology.  While I went out around the United States and visiting various parks I was reminded
    of all the parks had to offer.
</h3>
<h3 class="about2">
    Using this MVC allows the user to look up parks within the database, create new ones, edit them, and delete them.
    User's can only edit and delete their own parks and nature but can edit and delete attractions found throughout the parks and also remove and add nature to any park.
</h3>
<h3 class="about2">
    While creating new parks/attractions/nature users can upload images for those items.  The images have a limit of 5mb and support both jpg and png.
</h3>


